.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-width: 500px;
}

.string {
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube{
    max-width: 120px;
    max-height: 50px;
}

.element {
    width: 100px;
    margin: 0 auto;
    min-width: 125px;
}

.gitlogo img {
    height: 50px;
}

.gitlogo {
    display: flex;
    color: black;
}

.gitlogo span {
    margin-left: 5px;
    margin-top: 15px;
}

a {
    text-decoration: none;
}

.year {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: red;
}